Create a new account
<form method = "post" action = "/signup">
        <input type = "text" name = "sign_up_username" class = "form-control" placeholder = "Choose a username" required>
        <input type = "password" name = "sign_up_password" class = "form-control" placeholder = "Choose a password" required>

        <input type = "submit" value = "Sign up">
    </form>

Please enter your login information
    <form method = "post" action = "/login">
        <input type = "text" name = "user_given_username" class = "form-control" placeholder = "Enter Username" required>
        <input type = "password" name = "user_given_password" class = "form-control" placeholder = "Enter Password" required>

        <input type = "submit" value = "Log in">
    </form>

Once you create an account, please enter your information in the login section